
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: rgb(211, 192, 171);
   
}

#animated-text{
    font-size: 4vw;
    height: auto;
}

.header {
    width: 90%;
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    width: 25%;
    height: 5em;
    justify-self: end;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-link-active{
    /*color: #d39576;*/
    color: #cc642f;
    text-decoration: #cc642f solid underline;
    text-underline-position: under;
}

.nav-link {
    color: rgb(211, 192, 171);
}

.title-card {
    font-size: 4vw;
    margin: 1em;
    width: 16em;
}

.buisness-card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

.alt-buisness-card {
   display: none;
    
}

.logo {
    max-width: 100%;
    filter: grayscale(100%);
    height: auto;

}

.logo-container {
    height: auto;
    max-width: 20%;
    align-self: center;
    
}

.logo-wrapper {
    max-height: 100%;
    max-width: 60%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

h1{
    font-size: 4em;
    font-weight: 900;
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
}

h2 {
    margin-left: 15%;
    font-size: 4vw;
}

h2.alt-toast {
    display: none;
}

.icon-grid-wrapper {
    height: 50vw;
    margin: 0.5em;
    margin-right: 0;
 
    font-size: 10vw;

    position: relative;
    justify-self: center;
    margin-bottom: 1em;

}

.icon-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
}

.icon-grid i {
   
    height: 3em;
    filter: grayscale(100%);
    height: auto;
    align-self: center;
    justify-self: center;
}

.icon-row {
    display: none;
}

#project-gallery {
    background-color: rgba(211,192,171,1);
    color: #333;
   
    border-radius: 1em;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.934), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    align-content: space-between;
    height: auto;
    padding: 2%;
}

#project-gallery p{

    font-size: 3vw;
}

h3 {
    font-size: 9vw;
    border-style: solid ;
    border-radius: 0.2em;
    

    /**/
    background-color: rgba(211,192,171,1);
    color: rgb(51,51,51);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.95), 0 2px 5px 0 rgba(0, 0, 0, 0.19);

    /**/
   
    margin-bottom: 1em;
    padding: 0.5em;
}

.project-wrapper {
    background-color: rgb(51,51,51);
    color: rgba(211,192,171,1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.95), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 0.5em;
    margin: 5%;
    height: auto;
    width: auto;
    padding: 5%;
    
    
    font-size: 5vw;
    text-align: center;
}

.thumb-wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
}

.thumbnail {
    width: 100%;
    border-radius: 0.25em;
        border: 0.1em solid rgba(211,192,171,1);
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.95), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-link {
    color: #cc642f;
}

.footer {
    font-size: 3vw;
    width: 90%;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

#end-toast {
    margin-left: 0em;
    margin-top: 1em;
}


/*
    Start Making media Queries for Desktop, Will Do Tablet later
*/

@media screen and (min-width: 1024px) {
    
    #animated-text{
        font-size: 1.5vw;
        height: auto;
        align-self: center;
    }
    
    .header {
        font-size: 1.5vw;
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-container {
        width: 30%;
        height: 5em;
        justify-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-link-active{
        /*color: #d39576;*/
        color: #cc642f;
        text-decoration: #cc642f solid underline;
        text-underline-position: under;
    }
    
    .nav-link {
        color: rgb(211, 192, 171);
        text-decoration: none;
    }

    /*
    .nav-link:hover {
        color: white;
        font-size: 2.5vw;
        -webkit-text-decoration: white solid underline;
        text-decoration: white solid underline;
        -webkit-text-underline-position: under;
        text-underline-position: under;
    }*/
    
    /*END OF HEADER*/

    
    .title-card {
        font-size: 2.5vw;
        margin-top: 1em;
        margin-bottom: 1em;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .buisness-card {
        display: none;
    }

    .alt-buisness-card {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .logo-wrapper {
        max-height: 100%;
        max-width: 40%;
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .logo-container {
        height: auto;
        max-width: 20%;
        align-self: center;
        
    }

    .logo {
        max-width: 100%;
        filter: grayscale(100%);
        height: auto;
    }

    h1{
        display: inline;
        font-size: 3em;
        font-weight: 900;
    }
    
    h2 {
        display: none;
    }
    
    h2.alt-toast {
        display: block;
        font-size: 2vw;
        margin: auto;
        width: 90%;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .icon-grid-wrapper {
        /* height: 50vw;
        margin: 0.5em;
        margin-right: 0;
     
        font-size: 10vw;
    
        position: relative;
        justify-self: center;
        margin-bottom: 1em; */
        display: none;
    }

    .icon-row{
        margin: 1em;
        display: flex;
        font-size: 4vw;
        justify-content: space-between;
        height: auto;
    }

    .icon-row i {
        max-height: auto;
        filter: grayscale(100%);
    } 
    
    #project-gallery {
        border-radius: 3em;
        box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.95), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
       
        width: 90%;
        margin: auto;
        height: auto;
        padding: 1%;
        margin-bottom: 5%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    #project-gallery .title-card{
        font-size: 1.8vw;
        width: 100%;
        margin-top: 1em;
      
        align-self: flex-start;
    }
    
    #project-gallery p{

        font-size: 1.5vw;
    }
    
    h3 {
        font-size: 3vw;
        border-style: solid ;
        border-radius: 0.2em;
        width: 80%;
        margin: auto;
        
        background-color: rgba(211,192,171,1);
        color: rgb(51,51,51);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.95), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
       
        margin-bottom: 1em;
        padding: 0.5em;
    }
    
    .project-wrapper {
        background-color: rgb(51,51,51);
        color: rgba(211,192,171,1);
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.95), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        border-radius: 0.5em;
        margin: 0.5em;
        height: auto;
        width: 40%;
        padding: 2%;    
        font-size: 5vw;
        text-align: center;
    }
    
    .thumb-wrapper {
        width: 100%;
        height: auto;
        margin-bottom: 0em;
        margin: auto;
        
    }
    
    .thumbnail {
        width: 90%;
        border-radius: 0.25em;
        border: 0.05em solid rgba(211,192,171,1);
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.95), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .project-link {
        color: #cc642f;
        font-size: 2.5vw;
    }
    
    .footer {
        /* font-size: 4vw;
        width: 90%;
        margin: 1em;
        display: flex;
        justify-content: space-between;
        align-content: flex-end; */
        font-size: 1.5vw;
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
    }

    #end-toast {
        display: block;
        margin-left: 0em;
        margin-top: 1em;
        margin-bottom: 1em;;
    }

}